:root {
    --primary--color: #4a9dac;
    --secondaty--color: #82cfbc;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    background-color: var(--primary--color);
    display: flex;
    justify-content: center;
}

h1 {
    margin: 50px 0px 100px 0px;
    text-align: center;
    color: var(--primary--color);
    font-size: 1.9rem;

}

.container {
    width: 600px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 60px;
    padding: 5px;

}

form input {
    width: 200px;
    height: 30px;
    font-size: 1rem;
    border-radius: 5px;
    border-color: rgba(2, 2, 2, 0.089);
    outline-color: var(--secondaty--color);
    background-color: #f1f1f1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button {
    width: 90%;
    height: 40px;
    color: #fff;
    background-color: var(--primary--color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}



button:hover {
    background-color: #4a9daccc;

}

.result {
    width: 99%;
    max-height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    overflow-y: auto;

}

table {
    width: 99%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 2px solid var(--primary--color);
    



}

td {
    text-align: start;
    background-color: #f1f1f1;
    font-size: .9rem;
    border: 1px solid var(--primary--color);
    padding: 10px;
    
}

th {
    content: "aasas";
    color: #fff;
    background-color: var(--primary--color);
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 2;

}